.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h2 {
  font-variant: small-caps;
  text-shadow: 0.05rem 0.05rem rgb(40, 40, 40);
  box-shadow: -0.1rem -0.1rem 0rem 0.1rem rgb(40, 40, 40),
    0.0001rem 0.0001rem 0rem 0.1rem rgb(40, 40, 40);
  border-radius: 0.4rem;
}

.inputText {
  background-color: #323232;
  text-align: center;
  color: #edab48;
  text-transform: uppercase;
  text-shadow: 0.1rem 0.1rem rgb(0, 0, 0);
  box-shadow: 0.1rem 0.1rem rgb(40, 40, 40);
  border-radius: 0.4rem;
}

input::placeholder {
  color: #ffe45d;
  opacity: 0.55;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.ttc:hover::after {
  content: "The criteria field takes in the name of a trait, ingredient or compound relating to the meal.";
  position: absolute;
  width: 16rem;
  font-family: monospace;
  background-color: #ececec;
  border-radius: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  text-align: justify;
  clip-path: polygon(
    100% 0,
    100% 100%,
    12% 100%,
    12% 36%,
    0 24%,
    11% 12%,
    12% 0
  );
  animation: ttc 0.5s forwards;
  text-shadow: 0.3rem 0.3rem 0.5rem rgb(150, 150, 150);
  border-top: solid rgb(100, 100, 100) 0.3rem;
  border-right: solid rgb(100, 100, 100) 0.3rem;
  border-bottom: solid rgb(100, 100, 100) 0.3rem;
  border-left: solid rgb(100, 100, 100) 2.3rem;
  transform: translate(1rem, -0.75rem);
}
.tte:hover::after {
  content: "🔖 takes in up to two characters or emojis to help organise said trait or ingredient or compound.";
  position: absolute;
  width: 16rem;
  font-family: monospace;
  background-color: #ececec;
  border-radius: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  text-align: justify;
  clip-path: polygon(
    100% 0,
    100% 100%,
    12% 100%,
    12% 36%,
    0 24%,
    11% 12%,
    12% 0
  );
  animation: tte 0.5s forwards;
  text-shadow: 0.3rem 0.3rem 0.5rem rgb(150, 150, 150);
  border-top: solid rgb(100, 100, 100) 0.3rem;
  border-right: solid rgb(100, 100, 100) 0.3rem;
  border-bottom: solid rgb(100, 100, 100) 0.3rem;
  border-left: solid rgb(100, 100, 100) 2.3rem;
  transform: translate(1rem, -0.75rem);
}
.ttx:hover::after {
  content: "✖️ takes in a number which serves as a multiplier to affect the chance of a meal coming up";
  position: absolute;
  width: 16rem;
  font-family: monospace;
  background-color: #ececec;
  border-radius: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  text-align: justify;
  clip-path: polygon(
    100% 0,
    100% 100%,
    12% 100%,
    12% 36%,
    0 24%,
    11% 12%,
    12% 0
  );
  animation: ttx 0.5s forwards;
  text-shadow: 0.3rem 0.3rem 0.5rem rgb(150, 150, 150);
  border-top: solid rgb(100, 100, 100) 0.3rem;
  border-right: solid rgb(100, 100, 100) 0.3rem;
  border-bottom: solid rgb(100, 100, 100) 0.3rem;
  border-left: solid rgb(100, 100, 100) 2.3rem;
  transform: translate(1rem, -0.75rem);
}

@keyframes ttc {
  0% {
    opacity: 0;
    box-shadow: none;
  }
  100% {
    z-index: 99;
    opacity: 0.9;
    transform: translate(0rem, -0.75rem);
  }
}
@keyframes tte {
  0% {
    opacity: 0;
    box-shadow: none;
  }
  100% {
    z-index: 99;
    opacity: 0.9;
    transform: translate(0rem, -0.75rem);
  }
}
@keyframes ttx {
  0% {
    opacity: 0;
    box-shadow: none;
  }
  100% {
    z-index: 99;
    opacity: 0.9;
    transform: translate(0rem, -0.75rem);
  }
}

h2,
label,
input,
.meal {
  font-family: monospace;
  font-weight: 900;
}

.checkbox {
  margin-right: 5px;
  margin-left: 2px;
}

.criteria {
  border: solid black 1px;
  border-radius: 0.3rem;
}

.removed-button:hover {
  box-shadow: 0.08rem 0.08rem rgb(0, 0, 0) !important;
  transform: translate(0.01rem, 0.01rem);
  animation: name duration timing-function delay iteration-count direction
    fill-mode;
  animation: remove 1s alternate 10;
}

@keyframes remove {
  0% {
  }
  100% {
    color: #282c34;
    background-color: #f02121 !important;
  }
}

.added-button:hover {
  background-color: #f09e21 !important;
  box-shadow: 0.08rem 0.08rem rgb(0, 0, 0) !important;
  transform: translate(0.01rem, 0.01rem);
  transition: 0.5s;
}

.rando-button {
  color: #f29102;
  background: #323232;
  border: none;
  text-shadow: 0.1rem 0.1rem #995c00;
  box-shadow: 0.1rem 0.1rem rgb(40, 40, 40);
  animation: rando-return 0.5s forwards;
}

@keyframes rando-return {
  0% {
    color: #d3d3d3;
    background: #323232;
    border: none;
    text-shadow: 0.1rem 0.1rem #995c00;
    box-shadow: 0.1rem 0.1rem rgb(40, 40, 40);
    clip-path: polygon(
      27.5% 47.8%,
      0 0,
      0 100%,
      27.5% 53%,
      0% 100%,
      100% 100%,
      29.5% 53%,
      100% 100%,
      100% 0%,
      29.5% 47.8%,
      100% 0,
      0 0
    );
  }
  100% {
    clip-path: polygon(
      27.5% 20%,
      20% 10%,
      20% 90%,
      27.5% 80%,
      10% 100%,
      90% 100%,
      72.5% 80%,
      80% 90%,
      80% 10%,
      72.5% 20%,
      90% 0,
      10% 0
    );
  }
}

.rando-button:hover {
  animation: rando 2s forwards;
}

@keyframes rando {
  0% {
    clip-path: polygon(
      77.5% 20%,
      20% 10%,
      20% 90%,
      77.5% 80%,
      10% 100%,
      90% 100%,
      72.5% 80%,
      80% 90%,
      80% 10%,
      72.5% 20%,
      90% 0,
      10% 0
    );
  }
  30% {
    color: #f29102;
    background: #323232;
    border: none;
    text-shadow: 0.1rem 0.1rem #995c00;
    box-shadow: 0.1rem 0.1rem rgb(40, 40, 40);
    clip-path: polygon(
      27.5% 47.8%,
      0 5%,
      0 95%,
      27.5% 53%,
      5% 100%,
      95% 100%,
      29.5% 53%,
      100% 95%,
      100% 5%,
      29.5% 47.8%,
      95% 0,
      5% 0
    );
  }
  100% {
    color: #d3d3d3;
    background: #323232;
    border: none;
    text-shadow: 0.1rem 0.1rem #995c00;
    box-shadow: 0.1rem 0.1rem rgb(40, 40, 40);
    clip-path: polygon(
      27.5% 47.8%,
      0 0,
      0 100%,
      27.5% 53%,
      0% 100%,
      100% 100%,
      29.5% 53%,
      100% 100%,
      100% 0%,
      29.5% 47.8%,
      100% 0,
      0 0
    );
  }
}

.delete-button {
  height: 1.6rem;
  transition: 0.2s;
}
.delete-button:hover {
  transition: 1s;
  background-color: brown !important;
}
